{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% block scripts %}
<script type="text/javascript">
  var playerpk={{player.pk}};
  var grouppk={{group.id}};
</script>
  <script src="{% static "trust/channelconnect.js" %}"></script>
  <script src="{% static "trust/focus.js" %}"></script>
  <script type="text/javascript">
  $( document ).ready(function() {

  });
  </script>
{% endblock %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}
<p>PLAYER ID: {{player.id}}</p>
<p>a new var:{{somevar}}</p>
<p>focuses pocuses:</p>

    {% include Constants.instructions_template %}

    {% next_button %}

{% endblock %}
